.contact {
	padding-top: 8rem;
	margin-top: 16rem;

	&-title {
		width: 100%;
		text-align: center;
		margin-bottom: 5rem;

		h2 {
			@extend %h2;
		}
	}

	&-container {
		@extend %flex;
	}

	&-form,
	&-info {
		width: 100%;

		@media #{$sm} {
			width: 40%;
			margin: 0 5%;
		}

		@media #{$lg} {
			width: 35%;
			margin: 0 7.5%;
		}

		h4 {
			@extend %h4;
			margin-bottom: 1rem;
		}

		p,
		li {
			@extend %p;
		}

		ul {
			list-style: none;
			padding: 0;
		}
	}

	&-form {
		margin-top: 4rem;

		@media #{$sm} {
			margin-top: 0;
		}

		form {
			margin-top: 3rem;

			p {
				@extend %p;
				font-weight: $weight-bold;
				padding: 0;
				margin: 0 0 .8rem;
			}

			input, textarea {
				height: 3.5rem;
				width: 100%;
				background-color: lighten($mato-grey, 95%);
				border: 1px solid $mato-grey;
				border-radius: $border-radius;
				margin: 0 0 1.6rem;
				padding: 1rem;
				@extend %p;

				&[name="terms"] {
					width: auto;
					height: auto;
					margin-right: 1rem;
				}

				&:focus {
					outline: 0 !important;
					border: 1px solid $mato-green;
				}
			}

			textarea {
				height: 15rem;
			}

			span {
				@extend %p;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}

			button {
				position: relative;
				margin-left: auto;
				margin-top: 2rem;
				display: block;
			}
		}
	}

	&-info {
		flex-direction: column;
		display: flex;

		h4 {
			@extend %h4;
		}

		p {
			@extend %p;
			margin-bottom: 2rem;
		}

		img {
			object-fit: cover;
			object-position: bottom;
			max-width: 100%;
			margin-top: 2rem;
			max-height: 50rem;
		}
	}
}