.header {
	height: 8rem;
	max-width: $max-width;
	padding: $gutter !important;
	margin: 0 auto;

	button:focus {
		outline: 0 !important;
	}

	.navbar-nav {
		padding: 0;
		background-color: white;

		> ul {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			margin: 0;
			padding: 0;

			@media #{$lg} {
				flex-wrap: nowrap;
				flex-direction: row;
			}

			.nav-link {
				@extend %h4;
				position: relative;
				padding: 0 0 .5rem;
				box-sizing: border-box;
				margin: 1rem 1.6rem 1rem 0;
				width: max-content;

				@media #{$lg} {
					margin: 1rem 1.6rem;
				}

				&:hover,
				&:active,
				&.selected {
					color: $mato-green;
				}

				&:first-of-type {
					margin-left: 0;
				}

				&:last-of-type {
					margin-right: 0;
				}

				&::before,
				&::after {
					content: '';
					position: absolute;
					left: 0;
					height: 100%;
					width: 100%;
					transform-origin: left;
					border-bottom: $border-mato;
					transform: scale3d(0, 1, 1);
				}

				&:hover,
				&.selected {
					&::before,
					&::after {
						transform: scale3d(1, 1, 1); // Show full-size
						transition: transform 0.3s ease-out;
					}
				}
			}
		}
	}
}