.about {
	padding-top: 8rem;
	margin-top: 16rem;

	@media #{$lg} {
		margin-top: 0;
	}

	.about-image {
		position: relative;

		h1 {
			@extend %h1;
			color: white;
			position: absolute;
			transform: translateY(-50%);
			width: 100%;
			text-align: center;
			top: 50%;
		}

		img {
			object-fit: cover;
			width: 100%;
			padding: $gutter;
			margin: 0 auto;
			max-height: 25rem;
			box-sizing: border-box;
			object-position: top;

			@media #{$lg} {
				max-width: $max-width;
			}
		}
	}

	.about-content {
		margin-top: 4rem;

		h1 {
			@extend %h2;
			margin-bottom: 2.4rem;
		}

		p {
			@extend %p;
			margin-bottom: 2.4rem;
		}
	}

	.about-links {
		margin-top: 1rem;

		@media #{$md} {
			margin-top: 4rem;
		}

		.about-links-buttons {
			flex-wrap: wrap;
			width: 100%;
			display: inline-flex;
			align-items: flex-end;
			flex-direction: row;

			@media #{$md} {
				flex-direction: column;
			}

			.mato-button {
				margin-right: 1rem;
				margin-top: 1rem;

				@media #{$md} {
					margin: 0 0 1.2rem 0;
				}
			}
		}
	}
}