.hero {
	height: auto;
	position: relative;

	@media #{$lg} {
		height: calc(90vh - 8rem);
	}

	.hero-content {
		@media #{$lg} {
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			flex-direction: row-reverse;
		}

		.hero-image {
			img {
				object-fit: cover;
				width: 100%;
				margin: 0 auto;
				max-height: 30rem;
				object-position: center;

				@media #{$lg} {
					object-fit: contain;
					max-width: $max-width;
					max-height: 50rem;
					object-position: right;
				}
			}
		}

		.hero-container {
			.hero-text {
				margin-top: 4rem;

				@media #{$lg} {
					margin-top: 0;
					position: relative;
					transform: translateY(-50%);
					top: 50%;
				}

				h1 {
					@extend %h1;
					margin-bottom: 3rem;

					span {
						color: $mato-green;
					}
				}

				p {
					@extend %p;
					margin-bottom: 4rem;
				}

				.hero-content-buttons .mato-button {
					margin-right: 2rem;

					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}
	}
}