//sizing
$max-width: 92.6rem;
$gutter: 0 1rem;

//colours
$mato-green: #8EFFA0;
$mato-red: #FF8E8E;
$mato-grey: #AAA;
$mato-black: #000;
$border: .2rem solid $mato-black;
$border-mato: .2rem solid $mato-green;

//fonts
$h1: 7rem;
$h3: 1.6rem;